body {
  font-family: "Ubuntu";
}

strong {
  font-weight: bolder;
  color: mediumblue;
}

h1, h2 {
  color: mediumblue;
  text-decoration: underline;
  text-align: center;
}

#connection_with_token, #connection_without_token {
  border: medium solid mediumblue;
  margin: 1px 0px;
}

table {
  border: medium solid lightskyblue;
  border-collapse: collapse;
  width: 100%;
}

td div.subject {
  text-align: center;
  box-sizing: border-box;
  border: medium solid mediumblue;
}

td div {
  border: none;
}

td div.subject:hover {
  background-color: deepskyblue;
  cursor: pointer;
}

header, main, section, footer {
  background: lightskyblue;
  border: medium solid white;
}

footer {
  text-align: center;
}

input, a[href="index.php"] {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: 1px 0px;
  padding: 0px 0px;
  width: 100%;
}

input, a {
  font-size: medium;
  text-decoration: none;
  border-radius: 10px;
  background-color: white;
  border: medium solid deepskyblue;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type=password] {
  text-align: left;
}

input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* Pour input[type=file] */
label {
  box-sizing: border-box;
  display: block;
  margin: 1px 0px;
  padding: 0px 0px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  border: medium solid deepskyblue;
  font-size: medium;
  text-align: center;
}

/* Pour éviter débordement des liens du footer */
footer a {
  box-sizing: border-box;
  border-width: 1px;
  margin: 0px 0px;
  padding: 0px 0px;
}

input[type=submit]:hover, a:hover, label:hover {
  background-color: deepskyblue;
}

.select_file p {
  padding: 0px 0px;
  margin: 1px 0px;
}

.error {
  border: medium solid firebrick;
  background: lightcoral;
}

#views {
  text-align: center;
  padding: 0px 3px;
  color: white;
  border: medium ridge dodgerblue;
  background-color: deepskyblue;
}

/* Animation de chargement */
/* https://dev.to/gmeben/animating-gradients-with-pure-css-3bi8 */
ul {
  padding: 0px 0px;
}

ul li {
  list-style-type: none;
  background-color: deepskyblue;
  border-radius: 10px;
  margin: 3px 0px;
  padding: 0px 3px;
}

ul li.sending {
  animation: sending_file 2s infinite linear;
  background-color: #fff;
  background-size: 300% 100%;
  background-image: 
    linear-gradient(90deg, dodgerblue, aquamarine, dodgerblue, aquamarine);
}

ul li.sent {
  background-color: aquamarine;
}

@keyframes sending_file {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}



